@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  background-image: url("assets/images/Royal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow:none;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #eef7ff;
}

.nav-links img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.contact-me{
  height:fit-content;
  width:500px;
  border: 2px solid #fff;
  margin:40px auto 0 auto;
  padding:20px;
}

.heading{
  font-size:38px;
}

.details{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:20px;
  padding:10px;
  gap:2vh;
}

.details>input{
  padding:10px;
  border: none;
  border-radius: 15px;
  height:40px;
  width:200px
}

textarea{
  height:100px;
  width:250px;
  border-radius: 15px;
  padding:15px;
}
button{
  height:28px;
  width:90px;
  background-color:#3674B5;
  color:#fff;
  border:none;
  font-weight:600;
  font-size:16px;
  padding:5px;
}