@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  background-image: url("assets/images/Royal.jpg");
}
.container {
  height: 100%;
  width: 100%;
}
.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: royalblue;
  align-items: center;
  padding: 2vw;
}
.nav-links {
  display: flex;
  gap: 1vw;
  font-size: 3.8vw;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
  display: none;
}
.nav-links i {
  font-size: 8.5vw;
}
.main {
  height: calc(100% - 80px);
  width: 100%;
  padding: 2vw;
}
.text-content {
  padding: 1.4vw;
  font-size: 5.8vw;
}
.name {
  font-size: 8vw;
  font-weight: 700;
}
.main img {
  height: 40vh;
  margin: 5vw 1.8vw;
  border-radius: 10px;
}
.main button {
  height: 14vw;
  color: #fff;
  background-color: #4945fd;
  border: none;
  font-size: 4vw;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: box-shadow 0.3s ease;
  font-weight: 800;
  margin: 1vh 15vw;
  padding: 10px;
}
hr {
  margin-top: 4vh;
  position: relative;
  left: -2vw;
}

.tech-stack {
  margin-top: 6vh;
  margin-left: 3vw;
  height:fit-content;
}

.heading {
  font-size: 8vw;
}
.section-heading {
  font-size: 10vw;
}

.tech-board {
  height: fit-content;
  width: 90%;
  background-image: url("assets/images/light_grey_dots_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 2vh;
  border-radius: 8px;
  padding: 5px;
}
.tech-board {
  color: #212121;
}
.tech-board img {
  height: 10vw;
}

.tech-text {
  font-size: 7vw;
  font-weight: 600;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  padding-right: 2vw;
  margin-bottom: 8vw;
}
.project {
  background-color: #393e46;
  color: #fff;
}
.project > img {
  width: 90%;
  margin-left: 4vw;
}
.about-project {
  padding: 10px;
}
.project-heading {
  font-size: 6vw;
  font-weight: 700;
}
.project-link {
  text-decoration: none;
  color:#00bcd4;
}
.footer {
  background-color: #333446;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}
.footer img {
  height: 8vw;
}
.left-side {
  padding: 2vw;
}
.lc {
  background: #5409da;
  background: linear-gradient(to right, #5409da 0%, #8dd8ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8vw;
}
.right-side {
  display: flex;
}

/* for the copyright text at the bottom */
.cright {
  font-size: 2vw;
}
