@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-image: url("assets/images/Royal.jpg");
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5vw;
  margin-top: 2.5vh;
  flex-wrap: wrap;
}
.nav-links > a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}
li > a:hover {
  text-decoration: underline;
  color: #eef7ff;
}
.nav-links {
  display: flex;
  margin: 5vh;
  align-items: center;
}
a > img {
  height: 6rem;
  border-radius: 50%;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  margin-left: auto;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin: 5rem;
}
.name {
  font-size: 4rem;
}
.abt {
  font-size: 2rem;
}
.hero-section {
  border: 1px solid #333446;
  display: flex;
  align-items: center;
}
.hero-section > img {
  height: 300px;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  border-radius: 5px;
}

.projects-section {
  display: flex;
  gap: 2vw;
  margin: 15px;
}
.project {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 600px;
}
.project span {
  display: block;
}
.content {
  background-color: #393E46;
  padding: 5px;
}
.heading {
  font-size: 2rem;
}
.about {
  font-size: 1rem;
  margin-top: 3px;
}
.learn-more {
  margin-top: 15px;
}
.learn-more > a  {
  font-size: 20px;
  transition:0.5s ease all
}
.learn-more > a:hover{
  text-decoration: none;
  color:#fff;
}